<ul class="nav-pills">
  <li><a href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Terms of Service</a></li>
  <li><a href="<%=privacy_path%>">Privacy</a></li>
  <li><a class="active" href="<%=hypercube_path%>">Hypercube</a></li>
</ul>

<%= render :partial => "hypercube_renderer" %>
