<ul class="nav-pills">
  <li><a href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Условия предоставления услуг</a></li>
  <li><a href="<%=privacy_path%>">Конфиденциальность</a></li>
  <li><a class="active" href="<%=hypercube_path%>">гиперкуба</a></li>
</ul>

<%= render :partial => "hypercube_renderer" %>
