<ul class="nav-pills">
  <li><a href="<%=faq_path%>">FAQ</a></li>
  <li><a href="<%=tos_path%>">Podmínky používání</a></li>
  <li><a href="<%=privacy_path%>">Ochrana soukromí</a></li>
  <li><a class="active" href="<%=hypercube_path%>">Hyperkostka</a></li>
</ul>

<%= render :partial => "hypercube_renderer" %>
